<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
<title>Business Field a Corporate Category Bootstrap Responsive Web Template | Gallery :: w3layouts</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Business Field web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--// Meta tag Keywords -->
<!-- css files -->
<link rel="stylesheet" href="css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" /> <!-- Style-CSS --> 
<link rel="stylesheet" href="css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
<!-- gallery -->
<link rel="stylesheet" href="css/lightGallery.css" type="text/css" media="all" />
<!-- //gallery -->

<!-- //css files -->
<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Athiti:200,300,400,500,600,700&amp;subset=latin-ext,thai,vietnamese" rel="stylesheet">
</head>
<body> 
<!-- banner-2 -->
<div class="main-agile">
	<div class="banner-w3l-2">
		<!-- header -->
		<div class="header">
			<div class="logo">
				<h1><a href="index.html"><span>B</span>usiness<label>Field</label></a></h1>
			</div>  
			<div class="clearfix"> </div>
		</div>
		<!-- //header -->
		<!-- top-nav -->
		<nav class="cd-stretchy-nav edit-content">
			<a class="cd-nav-trigger" href="#0"> Menu <span aria-hidden="true"></span> </a>
			<ul>
				<li><a href="index.html"><span>Home</span></a></li>
				<li><a href="about.html"><span>About</span></a></li>
				<li><a href="gallery.html" class="active"><span>Gallery</span></a></li>   
				<li><a href="typo.html"><span>Typography</span></a></li>
				<li><a href="icons.html"><span>Icons</span></a></li> 
				<li><a href="contact.html"><span>Contact</span></a></li>
			</ul> 
			<span aria-hidden="true" class="stretchy-nav-bg"></span>
		</nav> 
		<!-- //top-nav -->
	</div>
</div>
<!-- //banner-2 -->	
<!-- w3_short -->
<div class="services-breadcrumb">
	<div class="agile_inner_breadcrumb">
	   <ul class="w3_short">
			<li><a href="index.html">Home</a><i>||</i></li>
			<li>Gallery</li>
		</ul>
	</div>
</div>
<!-- //w3_short -->
<!-- gallery -->
<div id="gallery" class="gallery_main">
	<div class="container">
		<h3 class="title-w3l"><span>G</span>allery</h3>
		<div class="w3l_gallery_grids">
			<ul class="w3l_gallery_grid gallery" id="lightGallery">
				<li data-title="Business" data-src="images/g1.jpg" data-responsive-src="images/g1.jpg"> 
					<div class="w3_w3l_gallery_grid box">
						<a href="#">
							<img src="images/g1.jpg" alt=" " class="img-responsive" /> 
							<div class="caption scale-caption">
								<h3>Business</h3>
							</div>
						</a>
					</div>
				</li>
				<li data-title="Business" data-src="images/g2.jpg" data-responsive-src="images/g2.jpg"> 
					<div class="w3_w3l_gallery_grid box">
						<a href="#">
							<img src="images/g2.jpg" alt=" " class="img-responsive" /> 
							<div class="caption scale-caption">
								<h3>Business</h3>
							</div>
						</a>
					</div>
				</li>
				<li data-title="Business" data-src="images/g3.jpg" data-responsive-src="images/g3.jpg"> 
					<div class="w3_w3l_gallery_grid box">
						<a href="#">
							<img src="images/g3.jpg" alt=" " class="img-responsive" /> 
							<div class="caption scale-caption">
								<h3>Business</h3>
							</div>
						</a>
					</div>
				</li>
				<li data-title="Business" data-src="images/g4.jpg" data-responsive-src="images/g4.jpg"> 
					<div class="w3_w3l_gallery_grid box">
						<a href="#">
							<img src="images/g4.jpg" alt=" " class="img-responsive" /> 
							<div class="caption scale-caption">
								<h3>Business</h3>
							</div>
						</a>
					</div>
				</li>
				<li data-title="Business" data-src="images/g5.jpg" data-responsive-src="images/g5.jpg"> 
					<div class="w3_w3l_gallery_grid box">
						<a href="#">
							<img src="images/g5.jpg" alt=" " class="img-responsive" /> 
							<div class="caption scale-caption">
								<h3>Business</h3>
							</div>
						</a>
					</div>
				</li>
				<li data-title="Business" data-src="images/g6.jpg" data-responsive-src="images/g6.jpg"> 
					<div class="w3_w3l_gallery_grid box">
						<a href="#">
							<img src="images/g6.jpg" alt=" " class="img-responsive" /> 
							<div class="caption scale-caption">
								<h3>Business</h3>
							</div>
						</a>
					</div>
				</li>
				<li data-title="Business" data-src="images/g7.jpg" data-responsive-src="images/g7.jpg"> 
					<div class="w3_w3l_gallery_grid box">
						<a href="#">
							<img src="images/g7.jpg" alt=" " class="img-responsive" /> 
							<div class="caption scale-caption">
								<h3>Business</h3>
							</div>
						</a>
					</div>
				</li>
				<li data-title="Business" data-src="images/g8.jpg" data-responsive-src="images/g8.jpg"> 
					<div class="w3_w3l_gallery_grid box">
						<a href="#">
							<img src="images/g8.jpg" alt=" " class="img-responsive" /> 
							<div class="caption scale-caption">
								<h3>Business</h3>
							</div>
						</a>
					</div>
				</li>
				<li data-title="Business" data-src="images/g9.jpg" data-responsive-src="images/g9.jpg"> 
					<div class="w3_w3l_gallery_grid box">
						<a href="#">
							<img src="images/g9.jpg" alt=" " class="img-responsive" /> 
							<div class="caption scale-caption">
								<h3>Business</h3>
							</div>
						</a>
					</div>
				</li>
			</ul>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- gallery -->
<!-- footer -->
<footer>
	<div class="agileits-w3layouts-footer-top">
		<div class="container">
			<div class="col-md-6 agileits-w3layouts-footer-top-left">
				<p><i class="fa fa-phone" aria-hidden="true"></i> +1 234 567 8901</p>
			</div>
			<div class="col-md-6 agileits-w3layouts-footer-top-left">
				<p><i class="fa fa-envelope" aria-hidden="true"></i> Email :<a href="mailto:example@email.com"> mail@example.com</a></p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="agileits-footer-bottom">
		<div class="container">
			<div class="agileits-footer-bottom-grids">
				<div class="col-md-6 footer-bottom-left">
					<h2>About Us</h2>
					<div class="footer-img-grids">
						<div class="footer-img">
							<img src="images/f1.jpg" alt="" />
						</div>
						<div class="footer-img-info">
							<p>Suspendisse potenti. Pellentesque pulvinar tellus at est ullamcorper, at elementum nibh laoreet. Nunc id diam in nulla sollicitudin auctor. Donec elementum felis turpis, vel interdum libero congue non. Mauris non magna convallis</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-3 footer-bottom-right">
					<h5>We are social</h5>
					<div class="agileinfo-social-grids">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
							<li><a href="#"><i class="fa fa-vk"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 w3l-footer one tweet footer-bottom-right">
					<h5>Tweets</h5>
					<ul>
						<li>
							<a href="#"><i class="fa fa-twitter"></i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus.
							<i>http//example.com</i></a>
							<span>About 15 minutes ago<span>
						</span></span></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<p>© 2017 Business Field. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
		</div>
	</div>
</footer>
<!-- //footer -->

<!-- js-scripts -->		
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap --> 
<!-- //js -->
<!-- menu-js --> 	
<script src="js/modernizr.js"></script> <!-- Modernizr -->	
<script src="js/menu.js"></script> <!-- Resource jQuery -->	
<!-- //menu-js --> 	 
<!-- smooth scrolling -->
<script src="js/SmoothScroll.min.js"></script>
<!-- //smooth scrolling -->
	<script src="js/lightGallery.js"></script>
	<script>
    	 $(document).ready(function() {
			$("#lightGallery").lightGallery({
				mode:"fade",
				speed:800,
				caption:true,
				desc:true,
				mobileSrc:true
			});
		});
    </script>
<!-- //gallery -->

<!-- //js-scripts -->

</body>
</html>