<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Adviser A Corporate Category Bootstrap Responsive Website Template | Home :: W3layouts</title>
	<!-- Meta-tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Adviser Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta-tags -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!-- //Bootstrap Css -->
	<link href="css/font-awesome.css" rel="stylesheet">
	<!-- //Font-awesome Css -->
	<link rel="stylesheet" type="text/css" href="css/style7.css" />
	<!--//menu slider -->
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
	<!--// Flexslider-CSS -->
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- //Required Css -->
	<!--fonts-->
	<link href="//fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<!--//fonts-->

</head>

<body>
	<!--Slider-->
	<div class="banner-w3-agileits-slider">
		<div class="overlay overlay-contentpush">
			<button type="button" class="overlay-close">
				<i class="fa fa-times" aria-hidden="true"></i>
			</button>
			<nav>
				<ul>
					<li>
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="about.html">About</a>
					</li>
					<li>
						<a href="services.html">Services</a>
					</li>
					<li>
						<a href="blog.html">Blog</a>
					</li>
					<li>
						<a href="gallery.html">Gallery</a>
					</li>
					<li>
						<a href="icons.html">Icons</a>
					</li>
					<li>
						<a href="typography.html">Typography</a>
					</li>
					<li>
						<a href="contact.html">Contact</a>
					</li>
				</ul>
			</nav>
		</div>
		<section class="header-w3layouts-top">
			<button id="trigger-overlay" type="button">
				<i class="fa fa-bars" aria-hidden="true"></i>
			</button>
			<h1>
				<a href="index.html">
					<span>A</span>dviser</a>
			</h1>
		</section>
		<div class="container">
			<div class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="slider-info-wthree">
							<h3>We offer a range of</h3>
							<p>Corporate</p>
							<h3>Management Services​​​​​​​</h3>
						</div>
						<a href="contact.html" class="bnr-button">
							<span class="fa fa-phone" aria-hidden="true"></span>Contact Us</a>
					</li>
					<li>
						<div class="slider-info-wthree">
							<h3>We offer a range of</h3>
							<p>Conflict</p>
							<h3>Management Services​​​​​​​</h3>
						</div>
						<a href="contact.html" class="bnr-button">
							<span class="fa fa-phone" aria-hidden="true"></span>Contact Us</a>
					</li>
					<li>
						<div class="slider-info-wthree">
							<h3>We offer a range of</h3>
							<p>Investment</p>
							<h3>Management Services​​​​​​​</h3>
						</div>
						<a href="contact.html" class="bnr-button">
							<span class="fa fa-phone" aria-hidden="true"></span>Contact Us</a>
					</li>

				</ul>

			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<!--//Slider-->
	<!--//Header-->
	<!-- banner-w3-agileits-btm -->
	<div class="banner-w3-agileits-btm">
		<div class="container">
			<div class="position-tittle-w3layouts1">
				<h3 class="tittle-w3layouts">About Us</h3>
			</div>
			<div class="banner-w3-agileits-btm-main">
				<div class="banner-w3-agileits-btm-left">
					<div class="banner-w3-agileits-btm-top">
						<div class="banner-w3-agileits-btm-inner a1">
							<span class="fa fa-angellist" aria-hidden="true"></span>
							<h6>Investment Advice</h6>
							<div class="clearfix"></div>
							<p class="paragraph-w3-agile">Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros.</p>
							<a href="services.html" class="text-btn">Know More</a>
						</div>
						<div class="banner-w3-agileits-btm-inner a2">

						</div>
					</div>
					<div class="banner-w3-agileits-btm-bottom">
						<div class="banner-w3-agileits-btm-inner a3">

						</div>
						<div class="banner-w3-agileits-btm-inner a4">
							<span class="fa fa-line-chart" aria-hidden="true"></span>
							<h6>Strategic Planning</h6>
							<div class="clearfix"></div>
							<p class="paragraph-w3-agile">Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros.</p>
							<a href="services.html" class="text-btn">Know More</a>
						</div>
					</div>
				</div>
				<div class="banner-w3-agileits-btm-right">
					<span class="fa fa-thumbs-o-up" aria-hidden="true"></span>
					<h4 class="sub-hdng">20 Years of Immaculate Consulting Services.</h4>
					<p class="paragraph-w3-agile">Aliquam sit amet condimentum eros. Pellentesque placerat justo at maximus pretium. Ut dignissim auctor neque, at congue
						neque vulputate vel, faucibus risus ac, viverra magna. </p>
					<span class="fa fa-users" aria-hidden="true"></span>
					<h4 class="sub-hdng">Some of Our Clients Saying About Us</h4>
					<!-- Clients -->
					<section class="slider">
						<div class="flexslider">
							<ul class="slides">
								<li>
									<div class="banner-w3-agileits-bottom-2">
										<div class="footer-w3-gridsd-main">
											<img src="images/t11.jpg" alt=" " class="img-responsive">
											<h4>Smith Kevin</h4>
											<p class="paragraph-w3-agile"> consectetur adipiscing elit, sed do eiusmod idunt ut labore. sed do eiusmod tempor incididunt ut labore et dolore.</p>
										</div>
									</div>
								</li>
								<li>
									<div class="banner-w3-agileits-bottom-2">
										<div class="footer-w3-gridsd-main">
											<img src="images/t22.jpg" alt=" " class="img-responsive">
											<h4>Laura Hill</h4>
											<p class="paragraph-w3-agile"> consectetur adipiscing elit, sed do eiusmod idunt ut labore. sed do eiusmod tempor incididunt ut labore et dolore.</p>
										</div>
									</div>
								</li>
								<li>
									<div class="banner-w3-agileits-bottom-2">
										<div class="footer-w3-gridsd-main">
											<img src="images/t33.jpg" alt=" " class="img-responsive">
											<h4>Thomson Doe</h4>
											<p class="paragraph-w3-agile"> consectetur adipiscing elit, sed do eiusmod idunt ut labore. sed do eiusmod tempor incididunt ut labore et dolore.</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="clear"> </div>
					</section>

					<!--// Clients -->
				</div>
			</div>
		</div>
	</div>
	<!-- //banner-w3-agileits-bottom -->
	<!-- stats -->
	<div class="stats">
		<div class="container-fluid">
			<h3 class="Stats-title">20 Years of Immaculate Consulting Services</h3>
			<div class="stats-inner-agileits-w3layouts">
				<div class="col-md-3 col-sm-6 stat-grids">
					<div class="stats-text">
						<h3>Successfully completed</h3>
						<p class="counter">1,546</p>
						<h3>Projects</h3>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 stat-grids">
					<div class="stats-text">
						<h3>We have clients in</h3>
						<p class="counter">2,879</p>
						<h3>Countries</h3>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 stat-grids">
					<div class="stats-text">
						<h3>We have more than</h3>
						<p class="counter">1,546</p>
						<h3>experts</h3>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 stat-grids">
					<div class="stats-text">
						<h3>Successful work with</h3>
						<p class="counter">953</p>
						<h3>Clients</h3>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //stats -->

	<!-- What-we-do -->
	<div class="what-wedo-w3ls">
		<div class="container">
			<div class="position-tittle-w3layouts2">
				<h3 class="tittle-w3layouts">What We Do</h3>
			</div>
			<div class="wedo-main">
				<div class="wedo-left">
					<h4 class="sub-hdng">consulting service for all kind of businesses</h4>
					<p class="paragraph-w3-agile">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
						eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
					<h4 class="sub-hdng">Our team of professionals have experience in</h4>
					<p class="paragraph-w3-agile">
						<span class="fa fa-check" aria-hidden="true"></span>Lorem Ipsum</p>
					<p class="paragraph-w3-agile">
						<span class="fa fa-check" aria-hidden="true"></span>perspiciatis</p>
					<p class="paragraph-w3-agile">
						<span class="fa fa-check" aria-hidden="true"></span>inventore</p>
					<p class="paragraph-w3-agile">
						<span class="fa fa-check" aria-hidden="true"></span>accusantium</p>
				</div>
				<div class="wedo-right">
					<img src="images/we.jpg" alt=" " class="img-responsive">
				</div>
			</div>
		</div>
	</div>
	<!--// What-we-do -->

	<!--footer-w3-->
	<div class="contact-w3l-footer-w3" id="contact">
		<div class="container">
			<h3 class="tittle-w3layouts white-clr">Contacting Details</h3>
			<div class="footer-w3-grids">
				<div class="footer-w3-1">
					<div class="mid-info">
						<h3 class="subheading">Address 1</h3>
						<p>550 LaGuardia Pl, New York, NY 10012, USA</p>
						<p class="white-clr">+012 345 678 91</p>
					</div>
					<div class="mid-info">
						<h3 class="subheading">Address 2</h3>
						<p>45 Rockefeller Plaza, New York, NY 10111, USA</p>
						<p class="white-clr">+012 345 678 91</p>
					</div>
				</div>
				<div class="footer-w3-2">
					<div class="mid-info">
						<h3 class="subheading">Address 3</h3>
						<p>32nd Pl, Long Island City, NY 11101, USA</p>
						<p class="white-clr">+012 345 678 91</p>
					</div>
					<div class="mid-info">
						<h3 class="subheading">Email</h3>
						<p class="white-clr">
							<a href="mailto:info@example.com">info1@example.com</a>
						</p>
						<p class="white-clr">
							<a href="mailto:info@example.com">info2@example.com</a>
						</p>
						<p class="white-clr">
							<a href="mailto:info@example.com">info3@example.com</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom-nav-sicons">
		<div class="newsletter_right">
			<div class="n-left">
				<h3 class="tittle-w3layouts">Newsletter</h3>
				<p class="heading-btm">Get both our special offers and business management tips directly to your inbox!</p>
			</div>
			<div class="n-right">
				<form action="#" method="post">
					<div class="input-flds">
						<input type="email" name="Email" placeholder="Email" required="">
					</div>
					<div class="input-flds">
						<input type="submit" value="Subscribe">
					</div>
				</form>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="container">
			<div class="bottom-nav-main">
				<ul>
					<li>
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="about.html">About</a>
					</li>
					<li>
						<a href="services.html">Services</a>
					</li>
					<li>
						<a href="gallery.html">gallery</a>
					</li>
					<li>
						<a href="contact.html">Contact</a>
					</li>
				</ul>
			</div>
			<div class="social-icons">
				<a class="facebook" href="#">
					<span class="fa fa-facebook"></span>
				</a>
				<a class="twitter" href="#">
					<span class="fa fa-twitter"></span>
				</a>
				<a class="pinterest" href="#">
					<span class="fa fa-pinterest-p"></span>
				</a>
				<a class="linkedin" href="#">
					<span class="fa fa-linkedin"></span>
				</a>
			</div>
		</div>
	</div>
	<div class="copy">
		<div class="container">
			<h2 class="footer-w3-logo">
				<a href="index.html">
					<span>A</span>dviser</a>
			</h2>
			<p>© 2018 Adviser . All Rights Reserved | Design by
				<a href="http://w3layouts.com/">W3layouts</a>
			</p>
			<div class="clearfix"></div>
		</div>
	</div>
	<!--/footer-w3 -->

	<!-- js -->
	<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
	<!-- //menu -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<script src="js/classie.js"></script>
	<script src="js/demo7.js"></script>
	<!-- //menu -->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- stats -->
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.countup.js"></script>
	<script>
		$('.counter').countUp();
	</script>
	<!-- //stats -->

	<script src="js/responsiveslides.min.js"></script>
	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 3
			$("#slider3").responsiveSlides({
				auto: true,
				pager: false,
				nav: true,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
	<!-- FlexSlider -->
	<script defer src="js/jquery.flexslider.js"></script>
	<script type="text/javascript">
		$(function () {

		});
		$(window).load(function () {
			$('.flexslider').flexslider({
				animation: "slide",
				start: function (slider) {
					$('body').removeClass('loading');
				}
			});
		});
	</script>
	<!-- FlexSlider -->

	<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
			$().UItoTop({
				easingType: 'easeOutQuart'
			});
		});
	</script>


	<a href="#home" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>
	<!-- //smooth scrolling -->
	<script type="text/javascript" src="js/bootstrap.js"></script>

</body>

</html>